# don't commit CA files
rootCA/rootCA.crt
rootCA/rootCA.key
rootCA/rootCA-keypass.txt
rootCA/openssl-ca.cnf

# don't commit sample CFN files
openssl-srv*

# don't commit generated assets
certbundle*

#don't commit db assets aside from the required ones
db/index.txt.*
db/serial.txt.*